#a {
    height: 250px;
    width: 500px;
    background: -webkit-gradient(linear, left top, right top, from(black), to(seagreen));
    background: linear-gradient(to right, black, seagreen);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 250px;
}

@-webkit-keyframes clo {
    0% {
        color: gray;
    }

    50% {
        color: white;
    }

    100% {
        color: gray;
    }
}

@keyframes clo {
    0% {
        color: gray;
    }

    50% {
        color: white;
    }

    100% {
        color: gray;
    }
}
